*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/*REGOLE CSS GENERALI, APPLICATE A TAG SENZA CLASSI*/
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    min-width: 1500px;
}

header{
    min-width: 2000px;
}

nav{
    padding:10px 20px;
}

main{
    min-width: 2000px;
}

/*CLASSE GENERALE PER APPLICARE QUESTA CLASSSE QUANDO SERVE*/
.blu-button{
    font-size: 18px;
    font-weight: 400;
    background-color: rgb(0, 150, 250);
    padding:5px 15px;
    color:white;
    border:none;
    font-family: 'Open Sans', sans-serif;
}

.trattino{
    width:50px;
    height: 2px;
    background-color:rgb(196, 194, 194);
}

/*REGOLE PER IL FLOAT, POSSONO ESSERE APPLICATE QUANDO VOGLIAMO UTILIZZARE I FLOAT*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.fl{
    float:left;
}

.fr{
    float:right;
}

/*REGOLE PER HEADER, PARTE TOP-BAR, NAV*/
.top-bar{
    position:relative;
}    

.container-topbar-left,
.container-topbar-rigth,
li,a{
    font-size: 18px;
    font-weight: 600;
    display: inline-block;
    padding:5px 15px;
    color: black;
    text-decoration: none;
}    

.container-topbar-rigth{
position:absolute;
right: 0;
top:0;
}    

#logo-top-bar{
    display: inline-block;
    vertical-align: middle;
}    

/*CLASSI PER LAVORARE SUL JUMBOTRON*/
#jumbotron{
    height:900px;
    background-color:rgb(175, 203, 236);
}

.container-jumbotron{
    margin:0 auto;
    width:85%;
    padding-top:50px;
}

.container-jumbotron>h1{
    font-size:100px;
    padding-bottom: 80px;
    font-weight: 900;
}

.container-jumbotron p{
    padding-bottom: 40px;
    font-weight: 600;
    font-size: 20px;
}

.container-text{
    display: inline-block;
}

.container-text>p:last-of-type{
    padding-top:10px;
    font-size: 16px;
    font-weight: 600;
}

.container-text>button{
    padding:10px 20px;
    font-size: 18px;
}

#container-img-jumbotron{
    display: inline-block;
    vertical-align: top;
    padding-left: 60px;
}

#container-img-jumbotron>img{
    height:calc(770px - 200px);
}

/*FONT JUMBOTRON*/
#font-awesome{
    padding-top:10px;
    font-size:40px;
}

/*CONTENITORE CON I MARGINI PER SEGUIRE UN FLUSSO UGUALE NELLA PAGINA*/
.container-margin-auto{
    margin:0 auto;
    width:56%;
    position:relative;
}

/*INIZIO PRIMA SEZIONE NEL MAIN*/
.first-main-section{
    padding-top:200px;
}

.first-main-section>h2{
    font-size: 40px;
    padding-bottom: 50px;
    font-weight: 900;
}

.first-main-section span{
    padding-right: 20px;
    font-size: 18px;
}

.container-float{
    padding-top:30px;
    min-width: 1300px;
}

/*STRUTTURA COLONNE DEL MAIN*/
.left-column, .center-column, .right-column{ 
    width:340px;
    height:1000px;
    border:1px solid rgb(172, 172, 172);
    margin-right: 30px;
}

.center-column{
    margin:0 100px;
}

/*STRUTTURA COLONNA INTERNA GENERALE (FIRST MAIN SECTION)*/
.column-header{
    text-align: center;
    border-bottom:1px solid rgb(172, 172, 172);
    padding:5px 0;
}

.column-header i{
    padding-right: 10px;
}

.column-main>div p{
    display: inline-block;
    vertical-align: top;
    font-size: 15px;
    font-weight: 600;
    padding:20px 0 40px 0;
}

.column-main div>i{
    padding-top: 25px;
}

.column-main, .column-footer{
    padding:0 20px;
}

.column-main>h3{
    font-size: 30px;
    padding:20px 0 6px 0;
    font-weight: 900;
}

.column-main>p{
    padding:15px 0 15px 0;
    font-size: 15px;
    font-weight: 600;
}

/*PRICE*/
.column-main>p:first-of-type{
    font-size: 18px;
    font-weight: 900;
    padding-bottom:5px;
}

.grey-text{
    color:rgb(184, 181, 181);
    font-size: 15px;
}

.column-main>p:nth-child(4){
    padding-top: 40px;
}

.column-main>p:nth-child(5){
    padding-bottom:10px;
}

.column-main button{
    padding: 9px 60px;
    font-size: 15px;
    font-weight: 400;
}

.column-main a{
    text-decoration: underline;
    color: rgb(0, 150, 250);
    font-size: 18px;
    padding-bottom: 20px;
}

.column-footer>h4{
    font-size:23px;
    padding: 30px 0 25px 0;
    font-weight: 900;
}

.column-footer>li{
    list-style-type:none;
    font-size: 16px;
    padding: 15px 0;
    display:inline-block;
    line-height: 15px;
}

/*FONT IMG PER LISTE NELLE COLONNE*/
.column-footer i{
    color:rgb(0, 150, 250);
    padding-right: 5px;
    vertical-align: middle;
    line-height: 10px;
}

.column-footer>li>div{
    display: inline-block;
    vertical-align: top;
    line-height: 20px;
}

/*SECOND MAIN SECTION*/
.second-main-section{
    height: 240px;
    border:1px solid rgb(172, 172, 172);
    margin-top: 50px;
    position: relative;
}

.header-second-main-section{
    text-align: center;
    padding:10px 0;
    border-bottom: 1px solid rgb(172, 172, 172);;
}
.container-content-second-main-section{
    padding:20px 10px 10px 10px;
    height: 300px;
    position: relative;
}

.container-content-second-main-section>h3{
    font-size: 30px;
    font-weight: 900;
    padding-bottom: 30px;
}

.container-content-second-main-section>p{
    font-size: 15px;
    padding-bottom: 30px;
}

.container-content-second-main-section>p:first-of-type{
    font-size: 18px;
    font-weight: 900;
}

.container-content-second-main-section button{
    position:absolute;
    top:20px;
    right: 20px;
    padding: 10px 40px;
    font-size: 18px;
}

/*THIRD MAIN SECTION*/
.third-main-section{
    height: 700px;
    position:relative;
    padding-top: 100px;
}

.container-img-partner-dropbox{
    height: 500px;
    width:600px;
    background-image: url(../img/partner.png);
    background-size: cover;
    display: inline-block;
}

.container-text-partner-dropbox{
    display: inline-block;
    position:absolute;
    right:25px;
    top:140px;
}

.container-text-partner-dropbox>h3{
    font-size: 30px;
    padding-bottom: 20px;
    font-weight: 900;
}

.container-text-partner-dropbox>p{
    font-size: 15px;
    padding-bottom: 20px;
    line-height: 30px;
}

.container-text-partner-dropbox>button{
    font-size: 18px;
    padding:5px 20px;
    background-color: white;
    color:black;
    font-family:'Open Sans', sans-serif;
    font-weight:500;
}

/*ROW SECTION FOURTH MAIN SECTION*/
.row-container{
    height: 1000px;
}

.container-img-text-row{
    padding-bottom: 500px;
}

.row-container>h2{
    font-size:45px;
    font-weight: 900;
    padding-bottom: 40px;
}
.container-img-text-row{
    height: 450px;
    width:300px;
    display: inline-block;
    margin:0 auto;
    width:33%;
}
.container-img-row{
    height: 200px;
    width: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.container-text-row>h3{
    font-size:25px;
    font-weight: 900;
    padding-bottom: 10px;
    font-weight: 900;
}

.container-text-row>p{
    font-size: 18px;
}

/*Background images row in fourt main section*/
.bg-one-row{
    background-image: url(../img/business-feature-switching-tools.png);
}

.bg-two-row{
    background-image: url(../img/business-feature-coordinate-it.png);
}

.bg-three-row{
    background-image: url(../img/business-feature-multi-device.png);
}

.bg-four-row{
    background-image: url(../img/business-feature-integrations-it.png);
}

.bg-five-row{
    background-image: url(../img/business-feature-send-files-it.png);
}

.bg-six-row{
    background-image: url(../img/business-feature-security.png);
}

/*FIFTH MAIN SECTION*/
.title-team-use-dropbox{
    padding-top:100px;
}

.title-team-use-dropbox>h2{
    font-size: 45px;
    font-weight: 900;
    padding-top: 100px;
}

.title-team-use-dropbox>a{
    padding: 20px 0 40px 0;
    color:rgb(0, 150, 250);
    text-decoration: underline;
}

.container-float-fifth-main-section{
    height: 500px;
    background-color: rgb(245, 237, 237);
    position:relative;
}

.container-float-fifth-main-section img{
    width:60%;
    height: 80%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(292deg) brightness(105%) contrast(100%);
}

.container-boxes-left, .container-boxes-right{
    height: 100%;
    width: 30%;
}
.container-text-center{
    width:40%;
    height: 100%;
    padding:40px;
}

.box{
    height: 50%;
    width:50%;
    padding:40px 60px;
    position: relative;
}
/*Aggiunta di questo img perchè la scritta florida non andava bene con le caratteristiche generali delle altre img*/
#img-box{
    height: 40px;
    width:200px;
    position:absolute;
    top:130px;
}

.bg-green{
    background-color: rgb(154, 207, 152);
    border:15px solid rgb(188, 235, 184);
}

/*BG BOXES*/
.bg-amaranto{
    background-color: rgb(134, 0, 0);
}

.bg-blue{
    background-color: rgb(40, 201, 250);
}

.bg-red{
    background-color: red;
}

.bg-different-red{
    background-color: rgb(189, 3, 3);
}

.bg-different-blue{
    background-color: rgb(178, 212, 226);
}

.bg-violet{
    background-color: rgb(33, 0, 151);
}

.bg-yellow{
    background-color: yellow;
}
/*CONTENITORE CENTRALE CON TESTO*/
#logo-design-container-text-box{
    height: 50px;
    background-image: url(../img/designit.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

.container-text-center>p{
    padding-top:40px;
    font-weight: 600;
}
.container-text-center>p:nth-last-child(1){
    padding-top:30px;
}

.footer-fifth-main-section{
    height: 500px;
    background-color:rgb(178, 212, 226);
    margin-bottom:50px;
}

.container-footer-fifth-main-section>h3{
    font-size:50px;
    font-weight: bolder 900;
    color:rgb(121, 3, 91);
    display: inline-block;
    padding-top: 150px;
}

.container-footer-fifth-main-section>button{
    font-size: 18px;
    padding:10px 50px;
    border:none;
    font-weight: 400;
    position: absolute;
    right: 0;
    top:150px;
}

.questions-main-section{
    margin-bottom:100px;
}

.questions-main-section>h4{
    font-size: 30px;
    padding:40px 0 50px 0;
    font-weight: 900;
}

.questions-main-section>p{
    padding:40px 0 40px 0;
    display: inline-block;
    font-size: 18px;
    font-weight: 800;
}

.questions-main-section>i{
    padding-left: 530px;
    font-size: 30px;
}

.questions-main-section>hr{
    background-color: rgb(247, 244, 244);
    height: 2px;
    border:none;
}

.footer-container{
    background-color: black;
    height: 600px;
}

.margin-footer{
    margin:0 auto;
    width:70%;
    height: 600px;
    padding-top: 100px;
    position: relative;
}

.float-footer-container>h4{
    font-size: 30px;
    color:white;
    padding-bottom: 20px;
}

.float-footer-container li>a{
    color:white;
    text-decoration: none;
    padding-left:0;
}

.float-footer-container>li{
    font-size: 18px;
    list-style-type: none;
    padding-bottom: 10px;
    font-weight: 200;
    display: block;
}

.float-footer-container{
    width: 20%;
    height: 250px;
}

.trattino-footer{
    background-color:rgb(196, 194, 194);
    border:none;
    height: 2px;
    width:150px;
    position:absolute;
    left:0;
    bottom:160px;
}

#span-footer{
    color:rgb(182, 182, 182);
    position:absolute;
    left:0;
    bottom:100px;
    font-size:18px;
}